#firstguitar{
	width:500px;
	height:200px;
	float:left;
}
div#section1{
	width:40%;
	float:left;
}
section#section2{
	width:60%;
	margin-top:0;
	float:right;
}
.song_guitarist_name{
font-family: 'Anton', sans-serif;
font-size: 15px;
}
.audioplay{
	margin-right:2%; 
}


.guitarists{
height:200px;
margin-right:3px;
margin-left:3px;
margin-top:10px;
margin-bottom:15px;
}

#sungha_jung{
	margin:10px;
}

