#profile_photo{
	width:200px;
}
div#profile{
	width:20%;
	float:left;
	margin-right:1%;
}
div#resumebody{
	width:75%;
	float:left;
	margin-top:0;
}
.resumedetail{
	margin-bottom:5%;
}
#profile li{
	padding:10px 10px;
	font-family: 'Balthazar', serif;
	font-size:20px;
}