#firstguitar{
	width:450px;
	height:230px;
	float:left;
	margin-bottom:20px;
	margin-right:20px;
}
div#section1{
	position:relative;
	width:40%;
	float:left;
	margin-right:10px;
}
section#section2{
	position:relative;
	width:60%;
	margin-top:0;
	float:right;
}
.song_guitarist_name{
font-family: 'Anton', sans-serif;
font-size: 15px;
padding:5px 0px;
}
.audioplay{
	margin:10px;
	margin-right:2%; 
	margin-bottom:10px;
}


.guitarists{
height:200px;
margin-right:3px;
margin-left:3px;
margin-top:10px;
margin-bottom:15px;
}

#sungha_jung{
	margin:10px;
}

